/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://media.istockphoto.com/id/1193095410/photo/plastic-ocean-pollution-and-microplastics.jpg?s=612x612&w=0&k=20&c=UxzAAlzE8l5U_0kcRT0nr8GWXfkImrsiRW3nLVKtj9w=");
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.login-box {
    text-align: center;
}

.login-box h2 {
    margin-bottom: 10px;
    color: #333;
}

.login-box p {
    margin-bottom: 20px;
    color: #666;
}

/* Tabs */
.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab-link {
    padding: 10px 20px;
    background-color: #f4f4f4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    transition: background-color 0.3s ease;
}

.tab-link.active {
    background-color: #4CAF50;
    color: #fff;
}

.tab-link:hover {
    background-color: #45a049;
    color: #fff;
}

/* Tab Content */
.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* Input Groups */
.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Button */
.btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

/* Links */
.links {
    margin-top: 15px;
}

.links a {
    display: block;
    margin: 10px 0;
    color: #4CAF50;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}